.mainBg {
  height: 100vh;
  background: rgba(10, 65, 137, 1);
  color: #fff;
}

.mainBg h1 {
  margin: 0;
  padding: 1rem 0;
  font-size: 2.5rem;
}

.btnSubmit {
  margin-top: 3rem;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  background: #fff;
  color: #000;
  font-size: 1.4rem;
}

.btnJoin {
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.4rem;
  display: block;
}

/* sitemap */
.sitemapContainer {
  text-align: left;
  font-size: 1.5rem;
  padding: 2rem;
}

.sitemapContainer .categoryBox {
  margin-top: 2rem;
}

.sitemapContainer h2 {
  font-weight: bold;
  color: rgb(215, 36, 215);
}

.sitemapContainer .subitem {
  margin: 0.5rem 0;
}

.sitemapContainer .childItem {
  display: flex;
  align-items: center;
  color: dimgray;
}

.subitemChildren .subitemLabel ~ ul {
  margin: 0.3rem 0;
}

/* notice roller */
.noticeBanner {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.noticeTitle {
  font-weight: bold;
  padding-right: 1rem;
  white-space: nowrap;
  font-size: 1.4rem;
}

.noticeRollerContainer {
  overflow: hidden;
  height: 3rem;
  flex: 1;
}

.noticeRoller {
  display: flex;
  flex-direction: column;
  animation: roll 15s infinite;
}

.noticeItem {
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes roll {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  35% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(-60px);
  }
  55% {
    transform: translateY(-60px);
  }
  60% {
    transform: translateY(-90px);
  }
  75% {
    transform: translateY(-90px);
  }
  80% {
    transform: translateY(-120px);
  }
  95% {
    transform: translateY(-120px);
  }
  100% {
    transform: translateY(-150px);
  }
}
/* 내 수강 정보 */
.loginfo {
  padding: 2rem 2rem 5rem 2rem;
  font-size: 1.1rem;
  background: #fffeed;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.06);
  text-align: left;
  color: rgba(128, 128, 128, 1);
}
.loginfo .user {
  font-size: 1.2rem;
  color: rgba(20, 148, 240, 1);
  font-weight: 800;
}
.loginfo .classInfo {
  display: flex;
  align-items: center;
  margin-top: 0.8rem;
  font-size: 1.2rem;
}
.loginfo .classInfo .class {
  margin-right: 0.8rem;
  font-size: 1.8rem;
  color: #000;
  font-weight: 700;
}
.loginfo .detail {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}
.loginfo .detail div {
  position: relative;
  padding-right: 0.8rem;
  margin-right: 0.8rem;
}
.loginfo .detail div:last-child {
  margin: 0;
}
.loginfo .detail div:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background: rgba(128, 128, 128, 1);
}
.loginfo .detail div:last-child:after {
  position: static;
  width: 0;
  height: 0;
}
.loginfo .field {
  margin: 0.8rem 0;
}
.btnLogout {
  padding: 1rem;
  border-radius: 0.5rem;
  background: #fff;
  color: #100404;
}
/* 바로가기 */
.menuListContainer {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1rem;
}
.menuListContainer .menuItem {
  margin: 0 0.8rem 1.6rem;
}
.menuListContainer .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.8rem;
  height: 6.8rem;
  border-radius: 100%;
  background: rgb(213, 243, 255);
}
.settingsContainer h2 {
  font-size: 1.8rem;
}
.settingsContainer .settingsItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #ccc;
}
.settingsContainer .settingsActions {
  margin-top: 1rem;
}
.settingsContainer .settingsActions .btn {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}
/* 수강생들의 리얼후기 */
.commonCategoryTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1.6rem;
}
.commonCategoryTitle h2 {
  font-size: 1.6rem;
  font-weight: 700;
}
.commonCategoryTitle .btn {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(128, 128, 128, 1);
}
.realSlider .swiper-slide {
  width: 20.4rem;
  padding: 1.2rem;
  background: #fffeed;
  text-align: left;
  font-size: 1.1rem;
  margin-right: 0.8rem;
}
.realSlider .review {
  height: 3.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}
.realSlider .stName .name {
  font-weight: 700;
}
/* 특강 */
.specialSlider .swiper-slide {
  width: 11.4rem;
  margin-right: 1.2rem;
}
.specialSlider .poster {
  width: 11.4rem;
  height: 16rem;
  background: #fffeed;
  overflow: hidden;
}
.specialSlider .data {
  margin: 0.5rem 0 0.3rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: #333;
}
.specialSlider .title {
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.specialSlider .item {
  text-align: left;
}
/* 추천 강의 */
.recomSlider .swiper-slide {
  width: 13.6rem;
  margin-right: 1.2rem;
}
.recomSlider .poster {
  width: 13.6rem;
  height: 10rem;
  overflow: hidden;
}
.recomSlider .tag {
  display: flex;
  align-items: centers;
  gap: 3px;
  margin: 0.5rem 0 0.3rem;
}
.recomSlider .tag .list {
  padding: 0.2rem 0.8rem;
  font-size: 0.8rem;
  border-radius: 2.4rem;
  background: #ccc;
}
.recomSlider .title {
  font-size: 1.4rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 게시판 */
.tabsContainer .tabBtn {
  margin-right: 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(128, 128, 128, 1);
}
.tabsContainer .tabBtn.active {
  color: rgba(30, 30, 30, 1);
  border-bottom: 1px solid #000;
}
.tabsContainer .tabList {
  text-align: left;
}
.RecuritSlider .swiper-slide {
  width: 27.9rem;
  margin-right: 1.2rem;
  background: #fffeed;
}
.RecuritSlider .item {
  display: flex;
  align-items: center;
}
.RecuritSlider .poster {
  width: 8.8rem;
  height: 6rem;
  margin-right: 1.4rem;
  overflow: hidden;
}
.RecuritSlider .part {
  font-size: 1.4rem;
}
.RecuritSlider .company {
  font-size: 1rem;
}
.RecuritSlider .info {
  flex: 1;
  text-align: left;
}
.RecuritSlider .hiring {
  position: absolute;
  right: 1rem;
  top: 1.64rem;
  padding: 0.2rem 0.8rem;
  border-radius: 2.4rem;
  background: #ccc;
  font-size: 0.8rem;
  color: #fff;
}
