.mainBg {
  height: 100vh;
  background: rgba(10, 65, 137, 1);
  color: #fff;
}

.mainBg h1 {
  margin: 0;
  padding: 1rem 0;
  font-size: 2.5rem;
}

.btnSubmit {
  margin-top: 3rem;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  background: #fff;
  color: #000;
  font-size: 1.4rem;
}

.loginfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  font-size: 1.5rem;
  background: #dbdada;
}

.loginfo .field {
  margin: 0.8rem 0;
}

.btnLogout {
  padding: 1rem;
  border-radius: 0.5rem;
  background: #fff;
  color: #fff;
}