.mainBg {
  height: 100vh;
  background: rgba(10, 65, 137, 1);
  color: #fff;
}

.mainBg h1 {
  margin: 0;
  padding: 1rem 0;
  font-size: 2.5rem;
}

.btnSubmit {
  margin-top: 3rem;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  background: #fff;
  color: #000;
  font-size: 1.4rem;
}

.btnJoin {
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.4rem;
  display: block;
}

/* sitemap */
.sitemapContainer {
  text-align: left;
  font-size: 1.5rem;
  padding: 2rem;
}

.sitemapContainer .categoryBox {
  margin-top: 2rem;
}

.sitemapContainer h2 {
  font-weight: bold;
  color: rgb(215, 36, 215);
}

.sitemapContainer .subitem {
  margin: 0.5rem 0;
}

.sitemapContainer .childItem {
  display: flex;
  align-items: center;
  color: dimgray;
}

.subitemChildren .subitemLabel~ul {
  margin: 0.3rem 0;
}

/* notice roller */
.noticeBanner {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.noticeTitle {
  font-weight: bold;
  padding-right: 1rem;
  white-space: nowrap;
  font-size: 1.4rem;
}

.noticeRollerContainer {
  overflow: hidden;
  height: 3rem;
  flex: 1;
}

.noticeRoller {
  display: flex;
  flex-direction: column;
  animation: roll 15s infinite;
}

.noticeItem {
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pwLink {
  margin-top: 4rem;
  font-size: 1.5rem;
}

.joinLink {
  margin-top: 2rem;
  font-size: 1.5rem;
}

@keyframes roll {
  0% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-30px);
  }

  35% {
    transform: translateY(-30px);
  }

  40% {
    transform: translateY(-60px);
  }

  55% {
    transform: translateY(-60px);
  }

  60% {
    transform: translateY(-90px);
  }

  75% {
    transform: translateY(-90px);
  }

  80% {
    transform: translateY(-120px);
  }

  95% {
    transform: translateY(-120px);
  }

  100% {
    transform: translateY(-150px);
  }
}

/* 내 수강 정보 */
.loginfo {
  padding: 2rem 2rem 5rem 2rem;
  font-size: 1.1rem;
  background: #fffeed;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.06);
  text-align: left;
  color: rgba(128, 128, 128, 1);
}

.loginfo .user {
  font-size: 1.2rem;
  color: rgba(20, 148, 240, 1);
  font-weight: 800;
}

.loginfo .classInfo {
  display: flex;
  align-items: center;
  margin-top: 0.8rem;
  font-size: 1.2rem;
}

.loginfo .classInfo .class {
  margin-right: 0.8rem;
  font-size: 1.8rem;
  color: #000;
  font-weight: 700;
}

.loginfo .detail {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}

.loginfo .detail div {
  position: relative;
  padding-right: 0.8rem;
  margin-right: 0.8rem;
}

.loginfo .detail div:last-child {
  margin: 0;
}

.loginfo .detail div:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background: rgba(128, 128, 128, 1);
}

.loginfo .detail div:last-child:after {
  position: static;
  width: 0;
  height: 0;
}

.loginfo .field {
  margin: 0.8rem 0;
}

.btnLogout {
  padding: 1rem;
  border-radius: 0.5rem;
  background: #fff;
  color: #100404;
}

/* 바로가기 */
.menuListContainer {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1rem;
}

.menuListContainer .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.8rem;
  height: 6.8rem;
  margin-right: 1.6rem;
  border-radius: 100%;
  background: darkolivegreen;
}