.joinWrap {
  padding: 1.5rem;
}

.joinTitle {
  font-size: 1.8rem;
  font-weight: 600;
}

.inputField {
  border: 1px solid #797979;
  border-radius: 0.8rem;
  width: 100%;
  height: 54px;
}

label {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0.2rem;
}

.btnJoin {
  width: 100%;
  background: #0A4189;
  color: #fff;
  height: 54px;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: 600;
}