.joinWrap {
  padding: 1.5rem;
}

.joinTitle {
  font-size: 1.8rem;
  font-weight: 600;
}

.inputField {
  border: 1px solid #797979;
  border-radius: 0.8rem;
  width: 100%;
  height: 54px;
}

label {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0.2rem;
}

.btnJoinDefault {
  width: 100%;
  background: #969696;
  color: #fff;
  height: 54px;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all .5s;
}

.btnJoinDefault.active {
  background: #0A4189;
}

.joinLoginTxt {
  font-size: 1.5rem;
  padding-top: 3rem;
}

.joinLoginTxt span {
  font-weight: 600;
}

.findTxt {
  margin: 50px 0;
}

.findTxt span {
  font-size: 1.2rem;
  color: #8F8F8F;
}

.findTxt strong {
  font-size: 2rem;
}