.mentorWrap {
  height: 100vh;
  background-color: rgb(162, 197, 238);

}

.mentorChatWrap {
  position: relative;
  height: 100%;
  padding: 6rem 1rem 0;
}

.profileWrap {
  margin-top: 2rem;
  color: #1d1d1d;
  font-size: 1.3rem;
}

.profileWrap img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0px 4px 10px #00000042;
  margin-bottom: 2rem;
}

.profileWrap .name {
  font-size: 1.7rem;
  margin: 0.4rem 0;
}

.mentorChatCate {
  background: #7EA7D9;
  font-size: 1.5rem;
}

.mentorChatCate ul {
  display: flex;
  flex-wrap: wrap;
}

.mentorChatCate li {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem 0;
  border: 1px solid rgb(162, 197, 238);
}

.chatArea {
  position: absolute;
  top: 33%;
  left: 0;
  width: 100%;
  height: 42%;
  overflow-y: auto;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column-reverse;
}

.chatArea .spacer {
  flex-grow: 1;
}

.chatArea .chatList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chatArea .bubble {
  display: flex;
}

.chatArea .bubble+.bubble {
  margin-top: 1.5rem;
}

.chatArea .bubble span {
  position: relative;
  height: auto;
  padding: 1rem;
  width: 60%;
  font-size: 1.2rem;
}

.chatArea .bubbleLeft {
  justify-content: flex-start;
}

.chatArea .bubbleRight {
  justify-content: flex-end;
}

.chatArea .bubbleLeft span {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0 13px 13px 13px;
  margin-left: 2rem;
  text-align: left;
  box-shadow: 2px 2px 6px #00000042;
}

.chatArea .bubbleRight span {
  background: rgba(255, 195, 195, 0.9);
  border-radius: 13px 0 13px 13px;
  margin-right: 2rem;
  text-align: left;
  box-shadow: -2px 2px 6px #00000042;
  width: auto;
  text-align: right;
}

.directInput {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.directInput input {
  width: 100%;
  padding-right: 8rem;
}

.directInput button {
  width: 8rem;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: #f1f1f1;
  font-size: 1.2rem;
}