.mentorWrap {
  height: 100vh;
  background-color: rgb(162, 197, 238);

}

.mentorChatWrap {
  position: relative;
  height: 100%;
  padding: 6rem 1rem 0;
}

.profileWrap {
  margin-top: 2rem;
  color: #1d1d1d;
  font-size: 1.3rem;
}

.profileWrap img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0px 4px 10px #00000042;
  margin-bottom: 2rem;
}

.profileWrap .name {
  font-size: 1.7rem;
  margin: 0.4rem 0;
}

.mentorChatCate {
  background: #7EA7D9;
  font-size: 1.5rem;
}

.mentorChatCate ul {
  display: flex;
  flex-wrap: wrap;
}

.mentorChatCate li {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem 0;
  border: 1px solid rgb(162, 197, 238);
}

.chataArea {
  position: Absolute;
  left: 0;
  width: 100%;
  height: 40%;
  top: 32%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 1rem;
}

.chataArea .bubble {
  display: flex;
}

.chataArea .bubble+.bubble {
  margin-top: 1.5rem;
}

.chataArea .bubble span {
  position: relative;
  height: auto;
  padding: 1rem;
  width: 60%;
  font-size: 1.2rem;
}

.chataArea .bubbleLeft {
  justify-content: flex-start;
}

.chataArea .bubbleRight {
  justify-content: flex-end;
}

.chataArea .bubbleLeft span {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0 13px 13px 13px;
  margin-left: 2rem;
  text-align: left;
  box-shadow: 2px 2px 6px #00000042;
}

.chataArea .bubbleRight span {
  background: rgba(255, 195, 195, 0.9);
  border-radius: 13px 0 13px 13px;
  margin-right: 2rem;
  text-align: left;
  box-shadow: -2px 2px 6px #00000042;
  width: auto;
  text-align: right;
}

.directInput {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.directInput input {
  width: 100%;
}