@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 62.5%;
}
body {
  font-family: "SUIT Variable", sans-serif;
}
/* common */
select {
  padding: 0.5rem 1rem;
  color: #000;
  font-size: 1.4rem;
}
label {
  font-size: 1.5rem;
}
input {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  color: #000;
}
